body {
  background-color: black;
  text-align: center
}

h1 {
  color: white;
  font-family: sans-serif;
}

h2 {
  font-family: sans-serif;
  color: white;
}
p1 {
  font-family: sans-serif;
  color: white;
}
p3 {
  font-family: sans-serif;
  color: white;
}
img {
  float: right; 
  width: 300px;
  margin: 400px;
  border-color: black;
  border-width: 40px;
  border-style: ;
  border-radius: 17px;
}

p {
  text-align: left;
  font-family: serif;
  font-size: 14px;
}
