body {
  background-color: red;
  text-align: center
}

h1 {
  color: rgb(134,565,675);
  font-family: sans-serif;
}

h2 {
  font-family: sans-serif;
  color: red;
}




p1 {
  text-align: center;
  font-family: serif;
  font-size: 14px;
}
p2 {
  text-align: center;
  font-family: serif;
  font-size: 14px;
}
p3 {
  text-align: center;
  font-family: serif;
  font-size: 14px;
}

